{
    "env": {
        "node": true
    },
    "parserOptions": {
        "project": "./tsconfig.json"
    },
    "ignorePatterns": ["dist/test/*", "typedoc.js"],
    "extends": ["standard-with-typescript", "prettier"],
    "root": true,
    "rules": {
        "@typescript-eslint/explicit-function-return-type": "off",
        "@typescript-eslint/no-explicit-any": "off",
        "@typescript-eslint/no-empty-interface": "off"
    }
}
